<!DOCTYPE html>
<html lang="pt-br">

<head>
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="Resources/css/materialize.css" media="screen,projection" />
    <link type="text/css" rel="stylesheet" href="Resources/css/style.css" media="screen,projection" />

    <meta charset="UTF-8" />

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>Trank - Viagem Tranquila é Viagem com Trank!</title>
</head>

<body ng-app="trankApp">
    <!-- Header and Search -->
    <header>
        <div class="deep-purple lighten-5 cabecalho" ng-controller="MenuController">
            <div class="container">
                <div class="row">
                    <div class="col s12">
                        <img class="left mylogo" src="media/trank_logo.png" height="126" alt="logo" />
                        <div class="left white-text flow-text">
                        </div>
                        <div id="login_cadastro" class="hide-on-med-and-down right">

                            <div ng-hide="usuario">
                                <a class="waves-effect waves-light btn deep-purple" ng-click="login();">Login</a>
                                <a class="waves-effect waves-light btn deep-purple" href="#/cadastro">Cadastro</a>
                            </div>

                            <div ng-show="usuario">
                                <a class="btn disabled deep-purple white-text">Bem Vindo, {{ usuario.nome }}</a>
                                <a class="btn deep-purple white-text" ng-click="sair()">Sair</a>
                            </div>

                        </div>
                    </div>

                </div>
                <div class="row">
                    <div class="left white-text flow-text col s9">
                        <p>Viagem tranquila é viagem com Trank.</p>
                    </div>


                    <div class="col s3">
                        <form>
                            <div class="input-field">
                                <input id="search" type="search" required>
                                <label for="search"><i class="mdi-action-search"></i>
                                </label>
                                <i class="mdi-navigation-close"></i>
                            </div>
                        </form>
                    </div>


                </div>

            </div>
        </div>
    </header>

    <!-- Nav bar -->
    <nav class="my-dark-purple my_shadow" ng-controller="MenuController">
        <div class="container">
            <div class="nav-wrapper">
                <!-- Navbar logo -->
                <!-- Collapse button -->
                <a href="#" data-activates="collapsednavbar" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
                <!-- Navbar links -->
                <ul class="hide-on-med-and-down ">
                    <li><a href="#/">Início</a>
                    </li>
                    <li ng-repeat="c in categorias">
                        <a ng-href="#/categorias/{{ c.id }}">{{ c.nome }}</a>
                    </li>
                    <li ng-show="usuario"><a href="#/cadastrarLugar">Cadastrar Lugares</a></li>
                </ul>
                <!-- Navbar collapsed links -->
                <ul id="collapsednavbar" class="side-nav">
                    <li><a href="#/">Início</a>
                    </li>
                    <li class="divider"></li>
                    <li><a href="#/entrar">Login</a>
                    </li>
                    <li><a href="#/cadastro">Cadastro</a>
                    </li>
                    <li ng-show="usuario"><a href="#/cadastrarLugar">Cadastrar Lugares</a></li>
                    <li class="divider"></li>
                    <li ng-repeat="c in categorias">
                        <a ng-href="#/categorias/{{ c.id }}">{{ c.nome }}</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <!-- Main Layout -->
    <main>


        <div class="parallax-container">
            <div class="parallax"><img src="media/bkg_1.jpg" />
            </div>

            <div class="container">

                <ng-view>
                </ng-view>

            </div>
        </div>


    </main>

    <!-- Footer -->
    <footer class="page-footer deep-purple" ng-controller="MenuController">
        <div class="container">
            <div class="row">
                <div class="col l4 m6 s12 center-align">
                    <h5 class="white-text">Trank</h5>
                    <ul>
                        <li><a class="grey-text text-lighten-3" href="#/">Página Inicial</a>
                        </li>
                        <li><a class="grey-text text-lighten-3" href="sobre.html">Sobre</a>
                        </li>
                    </ul>
                </div>
                <div class="col l4 m6 s12 center-align">
                    <h5 class="white-text">Usuário</h5>
                    <ul>
                        <li><a class="grey-text text-lighten-3" href="#/entrar">Entrar</a>
                        </li>
                        <li><a class="grey-text text-lighten-3" href="#/cadastro">Registar</a>
                        </li>
                    </ul>
                </div>
                <div class="col l4 m12 s12 center-align">
                    <h5 class="white-text">Categorias</h5>
                    <ul>
                        <li ng-repeat="c in categorias">
                            <a ng-href="#/categorias/{{ c.id }}">{{ c.nome }}</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-copyright deep-purple darken-1">
            <div class="container">
                © 2015 Matheus Compri e <a href="http://paulomoreno.me">Paulo Moreno</a>
            </div>
        </div>
    </footer>

    <!-- Importing Resource Files -->
    <script type="text/javascript" src="Resources/js/date.js"></script>
    <script type="text/javascript" src="Resources/js/jquery-2.1.3.js"></script>
    <script type="text/javascript" src="Resources/js/jquery.mask.min.js"></script>
    <script type="text/javascript" src="Resources/js/materialize.js"></script>
    <script type="text/javascript" src="Resources/js/angular-1.3.15/angular.js"></script>
    <script type="text/javascript" src="Resources/js/angular-1.3.15/angular-route.js"></script>
    <script type="text/javascript" src="Resources/js/angular-1.3.15/angular-animate.js"></script>
    <script type="text/javascript" src="Resources/js/Chartjs/Chart.min.js"></script>

    <!-- Importing App Files -->
    <script type="text/javascript" src="trankApp.js"></script>

    <!-- Controllers -->
    <script type="text/javascript" src="Controllers/CadastroController.js"></script>
    <script type="text/javascript" src="Controllers/EntrarController.js"></script>
    <script type="text/javascript" src="Controllers/InicioController.js"></script>
    <script type="text/javascript" src="Controllers/LugarController.js"></script>
    <script type="text/javascript" src="Controllers/LugaresController.js"></script>
    <script type="text/javascript" src="Controllers/MenuController.js"></script>
    <script type="text/javascript" src="Controllers/ComparativoController.js"></script>
    <script type="text/javascript" src="Controllers/CadastrarLugarController.js"></script>


    <!-- Directives -->
    <script type="text/javascript" src="Directives/SliderDirective.js"></script>
    <script type="text/javascript" src="Directives/fileread.js"></script>

    <!-- Services -->
    <script type="text/javascript" src="Services/lugaresApi.js"></script>


</body>

</html>