body
{
    background-image: url("../../media/bkg_1.jpg");
}

.row {
    margin-bottom: 0;
}

footer.page-footer {
    margin-top: 0;
}

.cabecalho {
    background: rgb(58, 34, 124);
    /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzNhMjI3YyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM1ZTM1YjEiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top, rgba(58, 34, 124, 1) 0%, rgba(94, 53, 177, 1) 100%);
    /* FF3.6+ */
    
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(58, 34, 124, 1)), color-stop(100%, rgba(94, 53, 177, 1)));
    /* Chrome,Safari4+ */
    
    background: -webkit-linear-gradient(top, rgba(58, 34, 124, 1) 0%, rgba(94, 53, 177, 1) 100%);
    /* Chrome10+,Safari5.1+ */
    
    background: -o-linear-gradient(top, rgba(58, 34, 124, 1) 0%, rgba(94, 53, 177, 1) 100%);
    /* Opera 11.10+ */
    
    background: -ms-linear-gradient(top, rgba(58, 34, 124, 1) 0%, rgba(94, 53, 177, 1) 100%);
    /* IE10+ */
    
    background: linear-gradient(to bottom, rgba(58, 34, 124, 1) 0%, rgba(94, 53, 177, 1) 100%);
    /* W3C */
    
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#3a227c', endColorstr='#5e35b1', GradientType=0);
    /* IE6-8 */
}

.my-dark-purple {
    background-color: rgba(58, 34, 124, 1);
}

a {}

a:hover {}

.main-card {
    padding-bottom: 20px;
}

.transparent-white {
    background-color: rgba(255, 255, 255, 0.9);
}

.right-border {
    border-right: solid 1px #dddddd;
}

.my_shadow {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.my_center {
    margin: auto;
}

.select-dropdown {
    z-index: 10;
    max-height: 250px;
}

.select-dropdown li > span {
    color: #5E35B1;
}

.parallax-container {
    padding-top: 50px;
    padding-bottom: 100px;
    height: auto;
}

.input-field input[type=text]:focus + label {
    color: #000;
}

.input-field .prefix.active {
    color: #5E35B1;
}

.input-field .prefix {
    color: #595959;
}

.input-field label.active {
    color: #595959 !important;
}

.file_icon {
    font-size: 4rem;
}

.input-field input[type=text]:focus,
.input-field input[type=password]:focus {
    border-bottom: 1px solid #5E35B1;
    box-shadow: 0 1px 0 0 #FFF;
}

@media only screen and (max-width: 600px) {
    .borda-on-small {
        border: solid 1px #cccccc;
    }
}

.in_erro {
    font-size: 8pt;
    color: red;
}

input {
    margin-bottom: 0 !important;
}

.input-field {
    margin-bottom: 15px;
}

.round-corner {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}
/* Datepicker */

.picker__date-display {
    background-color: #5e35b1;
}

.picker__weekday-display {
    background-color: rgba(58, 34, 124, 1);
}

.picker__close,
.picker__today {
    color: #5e35b1;
}

.picker__day.picker__day--today {
    color: #5e35b1;
}

.picker__day--selected,
.picker__day--selected:hover,
.picker--focused .picker__day--selected {
    background-color: #5e35b1;
}

.picker__nav--prev:hover,
.picker__nav--next:hover {
    background-color: #a77af7;
}

.star-on-png,
.star-off-png,
.star-half-png {
    color: #ffc107;
}
/* After the transition this will be the only class remaining */

.fadein {
    -webkit-transition: all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
    -moz-transition: all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
    -o-transition: all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
    transition: all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
    opacity: 1;
    /* Default value but added for clarity */
}
/* Initial state when showing */

.fadein.ng-hide-remove,
{
    opacity: 0;
    display: block !important;
}
/* Will transition towards this state */

.fadein.ng-hide-remove.ng-hide-remove-active {
    opacity: 1;
}
/*
  We're using CSS transitions for when
  the enter and move events are triggered
  for the element that has the .repeated-item
  class
*/

.repeated-item.ng-enter,
.repeated-item.ng-move {
    -webkit-transition: 0.5s linear all;
    -moz-transition: 0.5s linear all;
    -o-transition: 0.5s linear all;
    transition: 0.5s linear all;
    opacity: 0;
}
/*
 The ng-enter-active and ng-move-active
 are where the transition destination properties
 are set so that the animation knows what to
 animate.
*/

.repeated-item.ng-enter.ng-enter-active,
.repeated-item.ng-move.ng-move-active {
    opacity: 1;
}
/*
  We're using CSS keyframe animations for when
  the leave event is triggered for the element
  that has the .repeated-item class
*/

.repeated-item.ng-leave {
    -webkit-animation: 0.5s my_animation;
    -moz-animation: 0.5s my_animation;
    -o-animation: 0.5s my_animation;
    animation: 0.5s my_animation;
}

@keyframes my_animation {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}
/*
  Unfortunately each browser vendor requires
  its own definition of keyframe animation code...
*/

@-webkit-keyframes my_animation {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

@-moz-keyframes my_animation {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

@-o-keyframes my_animation {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

.img_file {
    margin: auto;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5px;
    padding: 0 !important;
}

.file-field .mybtn {
    position: static;
    margin: auto;
}

.file-field .mybtn {
    display: none;
}

.file-field.empty .mybtn {
    display: inline;
    margin-top: 60px;
}

.file-field input[type=file] {
    position: static-block;
}

.file-field .img_file {
    border: solid 1px #eeeeee;
    background-color: #eeeeee;
    display: inline;
}

.file-field.empty .img_file {
    border: none;
    display: none;
}

.file-field.empty {
    min-height: 200px;
    border: dashed 3px #eeeeee;
}

.addMore {
    margin-top: 5px;
}