<div class="row card transparent-white main-card" ng-controller="CadastroController">
    <div class="col l9 m9 s12 right-border">

        <div class="card-title deep-purple-text center-align">
            <h2>Novo Usuário</h2>
        </div>
        <div class="card-content">

            <div class="row">
                <form id="registerForm" name="cadUsuario" class="col s12" ng-submit="cadastrar(nome,data_nascimento,estado,cidade,telefone,email,senha,confirmar_senha);" novalidate>
                    <div class="row">
                        <div class="input-field col l12 m12 s12">
                            <input id="nome" type="text" ng-class="{invalid : campoVazio(cadUsuario.nome)}" ng-model="nome" required name="nome">
                            <label for="nome">Nome Completo</label>
                            <span class="in_erro" ng-show="campoVazio(cadUsuario.nome);">Campo obrigatório</span>
                        </div>
                        <div class="input-field col l6 m6 s12">
                            <input id="data_nasc" placeholder="DD/MM/AAAA" type="text"  ng-class="{invalid : campoVazio(cadUsuario.data_nascimento) || dataInvalida(cadUsuario.data_nascimento)}" ng-model="data_nascimento" required name="data_nascimento">
                            <label for="data_nasc">Data de Nascimento</label>
                            <span class="in_erro" ng-show="campoVazio(cadUsuario.data_nascimento);">Campo obrigatório</span>
                            <span class="in_erro" ng-show="dataInvalida(cadUsuario.data_nascimento);">Você precisa ter mais de 13 anos para poder utilizar o site</span>
                        </div>
                        <div class="input-field col l12 m12 s12">
                            <input id="cidade" type="text"  ng-class="{invalid : campoVazio(cadUsuario.cidade)}" ng-model="cidade" required name="cidade">
                            <label for="cidade">Cidade</label>
                            <span  class="in_erro" ng-show="campoVazio(cadUsuario.cidade);">Campo obrigatório</span>
                        </div>
                        <div class="input-field col l6 m6 s12">
                            <select ng-model="estado" required name="estado"  ng-class="{invalid : campoVazio(cadUsuario.estado)}" >
                                <option value="" disabled selected>Escolha um Estado</option>
                                <option value="AC">Acre</option>
                                <option value="AL">Alagoas</option>
                                <option value="AP">Amapá</option>
                                <option value="AM">Amazonas</option>
                                <option value="BA">Bahia</option>
                                <option value="CE">Ceará</option>
                                <option value="DF">Distrito Federal</option>
                                <option value="ES">Espirito Santo</option>
                                <option value="GO">Goiás</option>
                                <option value="MA">Maranhão</option>
                                <option value="MS">Mato Grosso do Sul</option>
                                <option value="MT">Mato Grosso</option>
                                <option value="MG">Minas Gerais</option>
                                <option value="PA">Pará</option>
                                <option value="PB">Paraía</option>
                                <option value="PR">Paraná</option>
                                <option value="PE">Pernambuco</option>
                                <option value="PI">Piauí</option>
                                <option value="RJ">Rio de Janeiro</option>
                                <option value="RN">Rio Grande do Norte</option>
                                <option value="RS">Rio Grande do Sul</option>
                                <option value="RO">Rondônia</option>
                                <option value="RR">Roraima</option>
                                <option value="SC">Santa Catarina</option>
                                <option value="SP">São Paulo</option>
                                <option value="SE">Sergipe</option>
                                <option value="TO">Tocantins</option>
                            </select>
                            <label>Estado</label>
                            <span  class="in_erro" ng-show="campoVazio(cadUsuario.estado);">Campo obrigatório</span>
                        </div>
                        <div class="input-field col l6 m6 s12">
                            <input id="telefone" placeholder="(XX) XXXX-XXXX" type="text" ng-model="telefone" required name="telefone" ng-class="{invalid : campoVazio(cadUsuario.telefone)}" >
                            <label for="telefone">Telefone</label>
                            <span  class="in_erro" ng-show="campoVazio(cadUsuario.telefone);">Campo obrigatório</span>
                        </div>
                        <div class="input-field col s12">
                            <input id="email" type="email" name="email" ng-class="{invalid : campoVazio(cadUsuario.email) || pattern(cadUsuario.email)}" ng-model="email" required ng-pattern="/^[a-z](([a-z0-9.])*[^.])?@[a-z0-9]+([.][a-z]+)+$/" >
                            <label for="email">Email</label>
                            <span  class="in_erro" ng-show="campoVazio(cadUsuario.email);">Campo obrigatório</span>
                            <span  class="in_erro" ng-show="pattern(cadUsuario.email);">Email inválido</span>
                        </div>
                        <div class="input-field col l6 m6 s12">
                            <input id="senha" type="password" ng-model="senha" required name="senha" ng-class="{invalid : campoVazio(cadUsuario.senha) || senhaInvalida(cadUsuario.senha)}">
                            <label for="senha">Senha</label>
                            <span  class="in_erro" ng-show="campoVazio(cadUsuario.senha);">Campo obrigatório</span>
                            <span  class="in_erro" ng-show="senhaInvalida(cadUsuario.senha);">{{ senha_invalida_erro }}</span>
                        </div>
                        <div class="input-field col l6 m6 s12">
                            <input id="conf_senha" type="password" ng-model="confirmar_senha" required name="confirmar_senha" ng-class="{invalid : campoVazio(cadUsuario.confirmar_senha) || senhaDiferente(cadUsuario.senha,cadUsuario.confirmar_senha)}">
                            <label for="conf_senha">Confirmar Senha</label>
                            <span  class="in_erro" ng-show="campoVazio(cadUsuario.confirmar_senha);">Campo obrigatório</span>
                            <span  class="in_erro" ng-show="senhaDiferente(cadUsuario.senha,cadUsuario.confirmar_senha);">As senhas devem ser iguais</span>
                        </div>
                    </div>
                </form>
            </div>
            <div class="center-align">
                <button form="registerForm"  class="btn waves-effect waves-light deep-purple lighten-1" type="submit">Submeter
                </button>
            </div>
        </div>
    </div>

    <div class="col l3 m3 s12 sidebar center-align">
        <br/>
        <h5 class="deep-purple-text ">Já possui conta?</h5>
        <a class="btn waves-effect waves-light deep-purple lighten-1" href="login.html">Entrar</a>
    </div>
</div>