<div class="row card transparent-white main-card" ng-controller="CadastroController">
    <div class="col l9 m9 s12 right-border">

        <div class="card-title deep-purple-text center-align">
            <h2>Novo Usuário</h2>
        </div>
        <div class="card-content">

            <div class="row">
                <form id="registerForm" class="col s12" ng-submit="cadastrar(nome,data_nascimento,estado,cidade,telefone,email,senha);">
                    <div class="row">
                        <div class="input-field col l12 m12 s12">
                            <input id="nome" type="text" class="validate" ng-model="nome">
                            <label for="nome">Nome Completo</label>
                        </div>
                        <div class="input-field col l6 m6 s12">
                            <input id="data_nasc" placeholder="DD/MM/AAAA" type="text" class="validate" ng-model="data_nascimento">
                            <label for="data_nasc">Data de Nascimento</label>
                        </div>
                        <div class="input-field col l6 m6 s12">
                            <input id="cidade" type="text" class="validate" ng-model="cidade">
                            <label for="cidade">Cidade</label>
                        </div>
                        <div class="input-field col l6 m6 s12">
                            <select ng-model="estado">
                                <option value="" disabled selected>Escolha um Estado</option>
                                <option value="AC">Acre</option>
                                <option value="AL">Alagoas</option>
                                <option value="AP">Amapá</option>
                                <option value="AM">Amazonas</option>
                                <option value="BA">Bahia</option>
                                <option value="CE">Ceará</option>
                                <option value="DF">Distrito Federal</option>
                                <option value="ES">Espirito Santo</option>
                                <option value="GO">Goiás</option>
                                <option value="MA">Maranhão</option>
                                <option value="MS">Mato Grosso do Sul</option>
                                <option value="MT">Mato Grosso</option>
                                <option value="MG">Minas Gerais</option>
                                <option value="PA">Pará</option>
                                <option value="PB">Paraía</option>
                                <option value="PR">Paraná</option>
                                <option value="PE">Pernambuco</option>
                                <option value="PI">Piauí</option>
                                <option value="RJ">Rio de Janeiro</option>
                                <option value="RN">Rio Grande do Norte</option>
                                <option value="RS">Rio Grande do Sul</option>
                                <option value="RO">Rondônia</option>
                                <option value="RR">Roraima</option>
                                <option value="SC">Santa Catarina</option>
                                <option value="SP">São Paulo</option>
                                <option value="SE">Sergipe</option>
                                <option value="TO">Tocantins</option>
                            </select>
                            <label>Estado</label>
                        </div>
                        <div class="input-field col l6 m6 s12">
                            <input id="telefone" placeholder="(XX) XXXX-XXXX" type="text" class="validate" ng-model="telefone">
                            <label for="telefone">Telefone</label>
                        </div>
                        <div class="input-field col s12">
                            <input id="email" type="email" class="validate" ng-model="email">
                            <label for="email">Email</label>
                        </div>
                        <div class="input-field col l6 m6 s12">
                            <input id="senha" type="password" ng-model="senha">
                            <label for="senha">Senha</label>
                        </div>
                        <div class="input-field col l6 m6 s12">
                            <input id="conf_senha" type="password" ng-model="confirmar_senha">
                            <label for="conf_senha">Confirmar Senha</label>
                        </div>
                    </div>
                </form>
            </div>
            <div class="center-align">
                <button form="registerForm"  class="btn waves-effect waves-light deep-purple lighten-1" type="submit">Submeter
                </button>
            </div>
        </div>
    </div>

    <div class="col l3 m3 s12 sidebar center-align">
        <br/>
        <h5 class="deep-purple-text ">Já possui conta?</h5>
        <a class="btn waves-effect waves-light deep-purple lighten-1" href="login.html">Entrar</a>
    </div>
</div>