<div class="row card transparent-white main-card">
    <div class="col l9 m9 s12 right-border">

        <div class="card-title deep-purple-text center-align">
            <h2>{{ lugar.nome }} </h2>
        </div>
        <div class="card-content" itemscope itemtype="http://schema.org/Place">

            <div class="row">

                <h3>Imagens</h3>
                <ul>
                    <li ng-repeat="img in lugar.imagens" slider>
                        <img class="imagem responsive-img" ng-src="{{ img }}" alt="Imagem de {{ lugar.nome}}" />
                    </li>
                </ul>

                <h3>Informações Gerais:</h3>
                <p><b>Nome: </b><span id="nome" itemprop="name">{{lugar.nome}}</span></p>
                <p><b>Descrição: </b><span id="descricao" itemprop="description">{{lugar.descricao}}</span></p>
                <p><b>Autor: </b><span id="autor">{{ lugar.autor }}</span></p>
                <p><b>Categorias: </b> <span class="categoria" ng-repeat="cat in categorias">{{ cat.nome }}</span>

                </p>
                <p><b>Outras Informações: </b></p>
                <p class="componentes" ng-repeat="c in lugar.componentes">&nbsp;&nbsp;&nbsp;&nbsp;<b data-nome="{{ c.nome }}">{{ c.nome }}: </b><span class="comp_valor">{{ c.valor }}</span></p>
                <p><b>Data de Criação: </b><span id="data">{{ lugar.data | date:"dd/MM/yyyy hh:mm:ss"}}</span></p>
                
                <input type="hidden" id="lugar_id" value="{{ lugar.id }}">
                <input type="hidden" id="ranking" value="{{ lugar.ranking }}">
                <input type="hidden" id="numVotos" value="{{ lugar.numeroVotos }}">


                <h3>Comentários</h3>
                <div class="card deep-purple darken-2" ng-hide="lugar.comentarios.length">
                    <div class="card-content white-text">
                        <span class="card-title">Ainda não existem comentários para este lugar</span>
                        <p>Seja o primeiro a comentar!</p>
                    </div>
                </div>

                <div class="card deep-purple darken-2" ng-repeat="comentario in lugar.comentarios">
                    <div class="card-content white-text comentario">
                        <span class="card-title" data-email="{{ comentario.usuario }}">{{comentario.nome}}</span>
                        <p>{{comentario.comentario}}</p>
                    </div>
                </div>

                <div ng-hide="usuario" class="center-align red white-text">
                    <i class="mdi-alert-warning"></i> Você deve estar logado no sistema para comentar.
                </div>

                <div ng-show="usuario">
                    <form action="" ng-submit="form.$error.required" novalidate>
                        <div class="input-field col l12 m12 s12">
                            <input id="comentario" type="text" class="validate" ng-model="comentario" required>
                            <label for="nome">Comentario: </label>
                        </div>
                        <div class="center-align">
                            <input type="button" value="Enviar Comentário!" class="btn waves-effect waves-light deep-purple lighten-1" ng-click="salvarComentario(usuario.email, comentario, lugar.id)">
                        </div>
                    </form>
                </div>
                <div class="card deep-purple darken-2">
                    <div class="card-content white-text">

                        <div class="card-title">Avaliação</div>
                        <form name="formAvalia" action="">
                            <div id="jRate"></div>
                            <div class="center-align">
                                <input type="button" value="Enviar Avaliação!" class="btn waves-effect waves-light deep-purple lighten-1" ng-click="enviarAvaliacao(lugar.id)">
                            </div>
                        </form>
                    </div>
                </div>
                <h3>Comparação por categoria:</h3>
                <ul> <li ng-repeat="cat in categorias"><a ng-href="#/comparativo/{{ cat.id }}">{{cat.nome}}</a></li></ul>
                <h3 id="exportar">Exportar</h3>
            </div>
        </div>

    </div>

    <div class="col l3 m3 s12 sidebar center-align">
        <div class="card-content">
            <h5 class="deep-purple-text ">Top Categorias </h5>
            <ul class="">
                <li><a href="#/categorias/america">América</a>
                </li>
                <li><a href="#/categorias/asia">Ásia</a>
                </li>
                <li><a href="#/categorias/europa">Europa</a>
                </li>
            </ul>
        </div>
    </div>
</div>


<link rel="stylesheet" href="Resources/css/jquery.raty.css">
<script src="Resources/js/jquery.raty.js"></script>