<div class="row card transparent-white main-card">
    <div class="col l9 m9 s12 right-border">

        <div class="card-title deep-purple-text center-align">
            <h2>{{ lugar.nome }} </h2>
        </div>
        <div class="card-content">

            <div class="row">

                <h3>Imagens</h3>
                <div class="slider">
                    <ul class="slides">
                        <li ng-repeat="img in lugar.imagens" slider>
                            <img ng-src="{{ img }}">
                        </li>
                    </ul>
                </div>

                <h3>Informações Gerais:</h3>
                <p><b>Nome: </b>{{lugar.nome}}</p>
                <p><b>Descrição: </b>{{lugar.descricao}}</p>
                <p><b>Autor: </b>{{ lugar.autor }}</p>
                <p><b>Categorias: </b> <span ng-repeat="cat in lugar.categorias">{{ cat }}</span>

                </p>
                <p><b>Outras Infor: </b>
                </p>


                <h3>Comentários</h3>
                <div class="card deep-purple darken-2" ng-hide="lugar.comentarios.length">
                    <div class="card-content white-text">
                        <span class="card-title">Ainda não existem comentários para este lugar</span>
                        <p>Seja o primeiro a comentar!</p>
                    </div>
                </div>

                <div class="card deep-purple darken-2" ng-repeat="comentario in lugar.comentarios">
                    <div class="card-content white-text">
                        <span class="card-title">{{comentario.nome}}</span>
                        <p>{{comentario.comentario}}</p>
                    </div>
                </div>

                <div ng-hide="usuario" class="center-align red white-text">
                    <i class="mdi-alert-warning"></i> Você deve estar logado no sistema para comentar.
                </div>
                
                User:{{ usuario}}
                <div ng-show="usuario">
                    <form action="" ng-submit="form.$error.required" novalidate>
                        <div class="input-field col l12 m12 s12">
                            <input id="comentario" type="text" class="validate" ng-model="comentario" required>
                            <label for="nome">Comentario: </label>
                        </div>
                        <div class="center-align">
                            <input type="button" value="Enviar Comentário!" class="btn waves-effect waves-light deep-purple lighten-1" ng-click="salvarComentario(usuario.email, comentario, lugar.id)">
                        </div>
                    </form>
                </div>
                <h3>Avaliar</h3>
                <div class="card deep-purple darken-2">
                    <div class="card-content white-text">
                        <div class="card-title">Avaliação: {{lugar.ranking | number:1}} Estrelas</div>
                        <form action="">
                            <p>
                                <input value="0" name="ranking" type="radio" id="r0" ng-model="avaliacao" />
                                <label for="r0">Zero Estrelas</label>
                            </p>
                            <p>
                                <input value="1" name="ranking" type="radio" id="r1" ng-model="avaliacao" />
                                <label for="r1">Um Estrela</label>
                            </p>
                            <p>
                                <input value="2" name="ranking" type="radio" id="r2" ng-model="avaliacao" />
                                <label for="r2">Duas Estrelas</label>
                            </p>
                            <p>
                                <input value="3" name="ranking" type="radio" id="r3" ng-model="avaliacao" />
                                <label for="r3">Três Estrelas</label>
                            </p>
                            <p>
                                <input value="4" name="ranking" type="radio" id="r4" ng-model="avaliacao" />
                                <label for="r4">Quatro Estrelas</label>
                            </p>
                            <p>
                                <input value="5" name="ranking" type="radio" id="r5" ng-model="avaliacao" />
                                <label for="r5">Cinco Estrelas</label>
                            </p>
                            <div class="center-align">
                                <input type="button" value="Enviar Avaliação!" class="btn waves-effect waves-light deep-purple lighten-1" ng-click="enviarAvaliacao(avaliacao, lugar.id)">
                            </div>
                        </form>
                    </div>
                </div>

                <h3>Exportar</h3>
                <a>XML</a>
            </div>
        </div>

    </div>

    <div class="col l3 m3 s12 sidebar center-align">
        <div class="card-content">
            <br/>
            <h5 class="deep-purple-text ">É novo por aqui?</h5>
            <a class="btn waves-effect waves-light deep-purple lighten-1" href="cadastro.html">Cadastre-se!</a>
            <br/>
        </div>
    </div>
</div>